<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <globalization fileEncoding="utf-8" culture="tr-TR" uiCulture="tr-TR" />
    <compilation tempDirectory="C:\websites\furkanyazar.dev\tmp" />
  </system.web>
  <system.webServer>
    <httpErrors>
      <remove statusCode="400" />
      <error statusCode="400" path="C:\websites\furkanyazar.dev\error_docs\bad_request.html" />
      <remove statusCode="401" />
      <error statusCode="401" path="C:\websites\furkanyazar.dev\error_docs\unauthorized.html" />
      <remove statusCode="403" />
      <error statusCode="403" path="C:\websites\furkanyazar.dev\error_docs\forbidden.html" />
      <remove statusCode="404" />
      <error statusCode="404" path="C:\websites\furkanyazar.dev\error_docs\not_found.html" />
      <remove statusCode="405" />
      <error statusCode="405" path="C:\websites\furkanyazar.dev\error_docs\method_not_allowed.html" />
      <remove statusCode="406" />
      <error statusCode="406" path="C:\websites\furkanyazar.dev\error_docs\not_acceptable.html" />
      <remove statusCode="407" />
      <error statusCode="407"
        path="C:\websites\furkanyazar.dev\error_docs\proxy_authentication_required.html" />
      <remove statusCode="412" />
      <error statusCode="412" path="C:\websites\furkanyazar.dev\error_docs\precondition_failed.html" />
      <remove statusCode="414" />
      <error statusCode="414"
        path="C:\websites\furkanyazar.dev\error_docs\request-uri_too_long.html" />
      <remove statusCode="415" />
      <error statusCode="415"
        path="C:\websites\furkanyazar.dev\error_docs\unsupported_media_type.html" />
      <remove statusCode="500" />
      <error statusCode="500"
        path="C:\websites\furkanyazar.dev\error_docs\internal_server_error.html" />
      <remove statusCode="501" />
      <error statusCode="501" path="C:\websites\furkanyazar.dev\error_docs\not_implemented.html" />
      <remove statusCode="502" />
      <error statusCode="502" path="C:\websites\furkanyazar.dev\error_docs\bad_gateway.html" />
      <remove statusCode="503" />
      <error statusCode="503" path="C:\websites\furkanyazar.dev\error_docs\maintenance.html" />
    </httpErrors>
    <tracing>
      <traceFailedRequests>
        <clear />
      </traceFailedRequests>
    </tracing>
    <rewrite>
      <rules>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:3000" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>